body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    border: none;
}

input {
    outline: none;
}

.container {
    max-width: 1158px;
    /* padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;
}

@media screen and (mim-width:768px) {
    .section {
        padding: 120px 0;
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------------------------------------------ Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px;

}

.sandwich {
    background-color: transparent;
}

.sandwich-icon {
    fill: #2f2f37;
}

.header .link-logo {
    font-family: "Raleway", sans-serif;
    color: #404bbf;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #2e2f42;
}

.navigation-list {
    display: none;
}

.address {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;

}

/*---------------------------------Mobile menu--------------*/
@media screen and (max-width:768px) {
    .mobile-menu {
        display: none;
        /*flex*/
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 700;
        padding: 72px 16px 40px 16px;
    }

    .mobile-menu .close {
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid #2e2f42;
        fill: #2e2f42;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu .close:active,
    .mobile-menu .close:hover,
    .mobile-menu .close:focus {
        background-color: #404BBF;
        fill: #fff;
        border: 1px solid #404BBF;
    }

    .mobile-nav-item {
        margin-bottom: 40px;
    }

    .mobile-nav-item .link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .mobile-nav-item .blue {
        color: #404bbf;
    }

    .mobile-nav-item .link:hover,
    .mobile-nav-item .link:focus,
    .mobile-nav-item .link:active {
        color: #404bbf;

    }

    .contacts-mobile .cont-mob-item {
        margin-bottom: 24px;
    }

    .contacts-mobile:last-child {
        margin-bottom: 48px;
    }

    .contacts-mobile .link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .contacts-mobile .blue {
        color: #4d5ae5;
    }

    .contacts-mobile .link:hover,
    .contacts-mobile .link:focus,
    .contacts-mobile .link:active {
        color: #4d5ae5;
    }

    .social-links-mob {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: flex-start;
    }

    .social-links-mob .link {
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-links-mob .link:hover,
    .social-links-mob .link:focus,
    .social-links-mob .link:active {
        background-color: #31d0aa;
    }

}

/*------------------------------------------Media----------*/
@media screen and (min-width: 768px) {
    .header .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header .link-logo {
        margin-right: 76px;
        padding: 24px 0 24px;
    }

    .header .navigation {
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    .header .navigation-list {
        display: flex;
        gap: 40px;
    }



    .address .contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }

    .navigation-list .link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0 24px;
        position: relative;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation .link:hover {
        color: #404bbf;
    }

    .navigation-list .underline::after {
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        content: "";
    }

    .navigation .link:focus {
        color: #404bbf;
    }

    .address {
        font-style: normal;
    }

    .address .link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0 24px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address .link:hover {
        color: #404bbf
    }

    .address .link:focus {
        color: #404bbf
    }

    .address {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .header .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sandwich {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .address .contacts {
        flex-direction: row;
        gap: 40px;
    }

    .mobile-menu {
        display: none;
    }
}

/* ----------------------------------First section */

.first-section {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-img-mob.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    min-width: 100%;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-img-mob@2x.jpg);
    }
}

.first-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.first-section .heading-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.first-section .button {
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.first-section .button:hover {
    background-color: #404BBF
}

.first-section .button:focus {
    background-color: #404BBF;
}

/*--------------------------------Media------------------------*/
@media screen and (min-width:768px) {
    .first-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                #2e2f42b3), url(../images/bg-img-tab.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }


    .first-section .heading-one {
        font-size: 56px;
        max-width: 496px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px) {
    .first-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-img-tab@2x.jpg);
    }
}

@media screen and (min-width:1158px) {
    .first-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                #2e2f42b3), url(../images/bg-img-desk.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:1158px) {
    .first-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg-img-desk@2x.jpg);
    }
}

/* ----------------------------------------Second section */

.second-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.second-section .container {
    padding-left: 15px;
    padding-right: 15px;
}

.second-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    display: none;
}

.second-section-list {
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.second-section-list .svg-icon {
    display: none;
}

.second-section-list .heading-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.second-section-list .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 288px;

}

/*--------------------------------------------Media------*/
@media screen and (min-width:768px) {
    .feature {
        flex-basis: calc((100% - 24px) / 2);
    }

    .feature .text {
        max-width: 100%;
    }

    .feature .heading-three {
        text-align: left;
    }

    .second-section-list {

        column-gap: 24px;
        row-gap: 72px;
    }

    .second-section-list {
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width:1158px) {
    .feature {
        width: calc((100% - 72px) / 4);
    }

    .second-section-list .text {
        font-weight: 400;
    }

    .second-section-list .heading-three {

        font-weight: 500;
        font-size: 20px;
        text-align: left;
    }

    .second-section-list .svg-icon {
        display: block;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        padding: 24px 100px;
        margin-bottom: 8px;
        height: 112px;
    }

    .second-section-list {

        flex-wrap: nowrap;
        gap: 24px;
    }
}



/* -----------------------------Team Third section */

.third-section {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.third-section .container {
    padding-left: 15px;
    padding-right: 15px;
}

.third-section .heading-two {
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    flex-direction: row;
    gap: 24px;

    flex-wrap: wrap;
    justify-content: center;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.third-section-list .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.third-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

}

.third-section .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-section .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-member-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-member-links .links-item {
    width: 40px;
    height: 40px;
}

.team-member-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
}

.team-card:hover .link {
    background-color: #404bbf;
}

.team-card .link:focus {
    background-color: #404bbf;
}

.links-item .icon {
    fill: #f4f4fd;
}

@media screen and (min-width:768px) {
    .third-section {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-card {
        width: calc((100% - 24px)/2);
        max-width: 264px;
    }

    .third-section-list {
        row-gap: 64px;
    }
}

@media screen and (min-width:1158px) {
    .third-section-list {
        flex-wrap: nowrap;
    }
}

/*----------------------------------Portfolio Fourth section */
.fourth-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.fourth-section .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;

}

.fourth-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.fourth-section-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: center;

}

.fourth-section-list .card {
    max-width: 100%;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-list .card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.fourth-section-list .picture {
    position: relative;
    overflow: hidden;
}

.fourth-section-list .overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.fourth-section-list .card:hover .overlay {
    transform: translateY(0%);
}

.fourth-section-list .card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}


.fourth-section-list .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.fourth-section-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------------------------------Media-------*/
@media screen and (min-width:768px) {
    .fourth-section-list {
        justify-content: center;
    }

    .fourth-section-list .card {
        width: calc((100% - 24px)/2);
        max-width: 356px;
    }

}

/* --------------------------------------------------Footer */

.footer {
    background: #2e2f42;
    padding: 96px 0 96px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;

}

.footer-text {
    margin-bottom: 72px;
}

.footer .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;

}

.footer .container .link-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;

}

.footer .link-logo .studio {
    color: #f4f4fd;
}

.footer .social-links {
    margin-bottom: 72px;
}

.social-links .social-links-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:focus {
    background-color: #31d0aa;
}

.social-links .link:hover {
    background-color: #31d0aa;
}

.social-links .icon {
    fill: #f4f4fd;
}



.footer .subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

}

.footer .subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}



.footer .subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 165px;
    height: 40px;
    border: none;
    align-self: center;
}

.footer .subscribe-button .icon {
    fill: #fff;
    margin-left: 16px;
}

.footer .subscribe-button:hover {
    background-color: #404BBF
}

.footer .subscribe-button:focus {
    background-color: #404BBF;
}

.footer .subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;

    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 0 8px 16px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;

}

.footer .subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.footer .subscribe-input:focus {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.footer .subscribe-input:focus-within {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.footer .subscribe-input:auto-fill {
    color: #fff;
    border: 1px solid #4d5ae5;
    background-color: #2e2f42;
}

/*-------------------------------------------------------Media*/
@media screen and (min-width:768px) {
    .footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 496px;
        /*  padding-left: 0;
        padding-right: 0;*/
    }


    .footer .footer-text {
        max-width: 264px;
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }


    .footer .social-links {
        max-width: 208px;
    }

    .footer .social-links-heading {
        text-align: left;
    }

    .footer .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 500px;
    }

    .footer .subscribe {
        display: flex;
        flex-direction: row;
        gap: 24px;
        flex-wrap: nowrap;
    }

    .footer .subscribe-button {
        max-width: 165px;
        align-self: flex-end;
    }

    .footer .subscribe-input {
        width: 264px;
    }
}


@media (min-width:1158px) {
    .footer {
        padding: 100px 0 100px 0;
    }

    .footer .container {
        align-items: baseline;
        text-align: left;
        max-width: 100%;
        flex-wrap: nowrap;
        gap: unset;
        justify-content: center;
    }

    .footer .footer-text {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer .text {
        max-width: 264px;
        margin-bottom: 0px;

    }

    .footer .social-links {
        padding-right: 80px;
        margin-bottom: 0px;
        margin-right: 80px;
    }

    .footer .subscribe {
        flex-direction: row;
        align-items: flex-end;
    }
}




/*-------------------------------------------------------Modal*/

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 800;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    width: 288px;
    max-height: 623px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        max-height: 584px;
    }
}

.modal .close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close:hover {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    border: none;
}

.modal .close:focus {
    background-color: #404bbf;
    border: none;
}

.modal .close .icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close:hover .icon {
    fill: #fff;
}

.modal .close:focus .icon {
    fill: #fff;
}

.modal .form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal .form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    width: 100%;
}

.input-wrapper .input-and-svg {
    position: relative;
    width: 100%;

}

.input-wrapper .input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper .input:focus {
    border-color: #4D5AE5;
}

.input-wrapper .input-svg {
    position: absolute;
    z-index: 900;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus+.input-svg {
    fill: #4D5AE5;
}

.textarea-wrapper {
    margin-bottom: 16px;
    width: 100%;
}

.textarea-wrapper .textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.p-p-checkbox {
    margin-bottom: 24px;
}

.modal .checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal .checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    background-color: transparent;
}

.checkbox-input:checked+.checkbox-label>.checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.p-p-checkbox .link {
    color: #4d5ae5;
}

.modal .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
    max-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal .button:hover {
    background-color: #404BBF
}

.modal .button:focus {
    background-color: #404BBF;
}