body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 141px;
    margin-right: 141px;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.header {

    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header .navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header .navigation-list {
    display: flex;
    gap: 40px;
}

.header .link-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0 24px;
}

.studio {
    color: #2e2f42;
}

.navigation-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    position: relative;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.navigation .link:hover {
    color: #404bbf;
}

.navigation .link::after {
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    content: "";
}

.navigation .link:active::after {
    background-color: #404bbf;
    content: "";
    border-radius: 2px;
    height: 4px;
    display: flex;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;

}

.navigation .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal
}

.address .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 24px;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.address .link:hover {
    color: #404bbf
}

.address .link:focus {
    color: #404bbf
}

.address {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.address .contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.contacts .link {}

/* First section */

.first-section {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    padding-top: 188px;
    padding-bottom: 188px;
}

.first-section .container {
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.first-section .heading-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.first-section .button {
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}

.first-section .button:hover {
    background-color: #404BBF
}

.first-section .button:focus {
    background-color: #404BBF;
}

/* Second section */

.second-section-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.second-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    display: none;
}

.feature {
    width: calc((100% - 72px) / 4);
}

.second-section-list .svg-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.second-section-list .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}



/* Third section */

.third-section {
    background: #F4F4FD;
}

.third-section .heading-two {
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.third-section-list .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.third-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

}

.third-section .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-section .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-member-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-member-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}

.team-card:hover .link {
    background-color: #404bbf;
}



/* Fourth section */

.fourth-section .container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.fourth-section .heading-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.fourth-section-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.fourth-section-list .card {
    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.fourth-section-list .card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.fourth-section-list .picture {
    position: relative;
    overflow: hidden;
}

.fourth-section-list .overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

}

.fourth-section-list .card:hover .overlay {
    transform: translateY(0%);
}

.fourth-section-list .card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}


.fourth-section-list .heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.fourth-section-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background: #2e2f42;
    padding: 100px 0 100px;

}

.footer .container {
    display: flex;
    flex-direction: row;
    gap: 120px;
}


.footer .container .link-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer .link-logo .studio {
    color: #f4f4fd;
}

.footer .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.social-links .social-links-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.social-links .link:hover {
    background-color: #31d0aa;
    ;
}